@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

/* Dropdown-menu: since nested groupes are not supported we have to use 
  regular css for the nested dropdowns 
*/

li.dropdown {
  cursor: pointer;
}

li.dropdown > a {
  display: inline-flex;
  width: 100%;
}

li.dropdown > ul.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.3s ease-out;
}

li.dropdown:hover > ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

li.dropdown-inner > ul.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateX(calc(100% + 5px));
  transition: all 0.3s ease-out;
}

li.dropdown-inner:hover > ul.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(calc(100% - 2px));
}

/* Radio Input */

input[type='radio'] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
  @apply border-neutral-900;
}

input[type='radio']:checked + label span {
  @apply border-primary-500;
}

input[type='radio']:checked + label {
  /* color: #3490dc;  */
}

.section-product-cards-description > p > b {
  @apply text-neutral-900;
}
